# dependencies
node_modules/
.pnp
.pnp.*

# env
.env
.env.*
!.env.example

# testing
/coverage

# next.js
/.next/
/out/
/build

# misc
.DS_Store
*.pem
*.tsbuildinfo
next-env.d.ts
.vercel

# debug
npm-debug.log*
.pnpm-debug.log*
